
.chat-header{
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1/-1;
    height: 70px;
}

 .heading{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-left: 5px solid #94A2F2;
    padding-left: 10px;
    margin-left: 100px;
}

.setting{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logout{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: #94A2F2;
    color: white;
    border: 1px solid #94A2F2;
    border-radius: 10px;
}
.user-name{
    color: #000;
    font-size: 20px;
    margin-right: 140px;
}